@model PizzaOrderingApplication.Models.PizzaDetails

@{
    ViewData["Title"] = "DetailsOfPizza";
}

<style>

    #div2 {
        position: relative;
        float: left;
        padding: 10px;
        margin: 10px;
        left: 0px;
        top: 0px;
        transition: left 3s top 3s;
    }

    #img {
        height: 230px;
        width: 500px;
    }

    #dl {
        font-family: 'Monotype Corsiva';
        font-size: 20px;
    }
</style>

<div id="div2">
    <img id="img" src="~/Images/@Model.PizzaImage" />
</div>

<div id="div2">
    <h4 style="font-family:'Monotype Corsiva'">Pizza Details</h4>
    <hr />
    <dl class="row" id="dl">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PizzaName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PizzaName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PizzaType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PizzaType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PizzaSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PizzaSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PizzaSecality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PizzaSecality)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PizzaPrice)
        </dt>
        <dd class="col-sm-10">
            @Model.PizzaPrice.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("hi-IN"))
        </dd>
    </dl>
</div>